@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
    border: 2px solid grey;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0 3px 15px rgba(113, 115, 119, 0.5);
}

input {
    width: 320px;
    padding: 24px;
    border: none;
    margin: 10px;
    text-align: right;
    font-size: 40px;
    background: transparent;
    box-shadow: 0 3px 15px rgba(84, 84, 84, 0.1);
    cursor: pointer;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 3px 15px rgba( 84, 84, 84, 0.2); */
    font-weight: 900;
    font-size: 20px;
}

.eqbtn {
    background-color: rgb(255, 149, 0);
}

.operator {
    color: rgb(255, 149, 0);
}

.otherbtn {
    color: aqua;
}